*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;

}
.facts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.3rem;
  background:linear-gradient(0deg, rgba(26, 25, 25, 0.482), rgba(27, 26, 27, 0.637)), url(https://getwallpapers.com/wallpaper/full/1/7/8/70029.jpg);
background-repeat: no-repeat;

}
.factbox{
  width: 50%;
  text-align: center;
  padding: 4rem 2rem;
  margin: 2rem ;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(77, 92, 120, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}
button{
  padding: 1rem 4rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2rem auto;
  background: transparent;
  border: 2px solid white;
}
button:hover{
  transform: scale(1.1);
  transition: 0.3s;
}